.nav-links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  footer li{
    list-style: none;
    font-family: Oxygen, Arial;
    color: #4b4b4b;
  }
  
  footer li:hover {
    cursor: pointer;
  }

  footer a {
    color: #4b4b4b;
    margin-bottom: 0.75rem;
  }
  
  footer a:active {
    border: none;
  }
  
  footer p {
    font-size: 12px;
    text-align: center;
  }
  
  footer hr {
    width: 90%;
  }  


  @media screen and (max-width: 1200px) {

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
  }