* {
  transition: all 0.2s ease-in-out;
}

p {
  font-family: Montserrat, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Montserrat, Arial;
  margin: 0;
}

.main-section {
  display: grid;
  justify-content: column;
  justify-items: center;
  color: #d5d5d5;
}

.top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('../images/Porsche-911.avif') black;
  background-size: cover;
  padding-top: 190px;
  display: grid;
  justify-content: column;
  width: 100%;
  justify-items: center;
  background-position: center -350px;
}

.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.work-section p {
  font-size: 40px;
  font-weight: 300;
  padding: 60px 0px 60px 20px;
}

.work-section-left {
  width: 65%;
}

.work-section-right a {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 14px;
  margin-right: 10px;
  padding: 13px 25px;
  transition: all 0.05s ease-in-out;
}

.work-section-right a:hover {
  background-color: lightgrey;
}

.headline {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: center;
}

.subheadline {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 17px;
}

.services-button {
  border-width: 1px;
  border-color: #d5d5d5;
  color: #d5d5d5;
  border-style: solid;
  text-transform: uppercase;
  font-size: 13px;
  padding: 13px 33px;
  margin-bottom: 190px;
}

.what-we-do-section {
  background: url('../images/wheel-cleaning.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.what-we-do-title-section {
  color: white;
  margin-top: 50px;
  font-size: 35px;
  font-weight: 200;
}

.what-we-do-info-section {
  display: flex;
  flex-direction: row;
  height: 300px;
  padding: 30px 70px 0px 70px;
}

.detailing-services-section,
.maintenance-washes-section,
.mobile-detailing-section {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

.detailing-services-section a,
.maintenance-washes-section a,
.mobile-detailing-section a {
  display: flex;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 28px;
}

.what-we-do-info-section .headline {
  text-transform: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.what-we-do-info-section .subheadline {
  text-transform: none;
  color: white;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 300;
  padding: 15px;
}

.bio-section {
  display: flex;
  background-color: rgb(20, 20, 20);
  flex-direction: row;
}

.bio-section-info {
  display: flex;
  height: 400px;
  flex: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bio-section-info p {
  padding-left: 35px;
  line-height: 27px;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bio-section-info a {
  font-weight: bold;
  display: inline-block;
  padding: 0 7px 0 0;
}

.bio-section-photo {
  display: flex;
  min-width: 0;
  flex: 1;
  margin: 30px;
  justify-content: center;
  object-fit: cover;
  aspect-ratio: 16 / 9;

}

.bio-section p {
  color: white;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.top-section .headline,
.top-section .subheadline,
.services-button {
  animation: 1.5s ease-out 0s 1 slideDown;
}