.header {
    display: flex;
    height: 75px;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    font-family: Montserrat, Arial;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.left-section {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 4;
}

.website-title {
    font-weight: 600;
    font-size: 20px;
    color: #a5a5a5;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 400px;
}

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
}

a:hover {
    color: rgb(126, 126, 126);
    transition: 0.25s color;
}
a:active {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.current-page {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}