.header {
    display: flex;
    height: 75px;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    font-family: Montserrat, Arial;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.left-section {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 4;
}

.website-title {
    font-weight: 600;
    font-size: 20px;
    color: #a5a5a5;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 400px;
}

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
}

a:hover {
    color: rgb(126, 126, 126);
    transition: 0.25s color;
    cursor: pointer;
}
a:active {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.current-page {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Dropdown Links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  