p {
  font-family: Oxygen, Arial;
}

.headline {
  font-weight: 600;
  font-size: 40px;
}

.subheadline {
  font-weight: 300;
  font-size: 40px;
  margin: 0 0 0 0;
}

.detail-pricing-section {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-pricing-section a {
  font-family: Montserrat, Arial;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 12px;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
}

.full-detail-header-section .headline {
  margin-bottom: 0px;
}

.full-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.body-text {
  font-family: Montserrat, Arial;
  font-weight: 300;
  font-size: 15px;
}

.items-table {
  display: flex;
}

.exterior-items,
.interior-items {
  padding-top: 15px;
  width: 50%;
  text-align: left;
  font-family: Montserrat, Arial;
  line-height: 24px;
}
.exterior-items {
  margin-left: 45px;
  padding-right: 35px;
}

.exterior-detail-only p,
.interior-detail-only p,
.maintenance-detail-section p{
  padding-left: 45px;
  padding-bottom: 10px;
}

.maintenance-detail-section {
  display: flex;
  flex-direction: column;
}

.maintenance-detail-upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .headline {
    font-size: 25px;
  }
  .subheadline {
    font-size: 20px;
    font-weight: 200;
  }

  .items-table {
    flex-direction: column;
  }

  .exterior-items,
  .interior-items,
  .exterior-detail-only,
  .interior-detail-only,
  .maintenance-detail-section {
    margin-left: 20px;
    width: 100%;
  }

  .exterior-detail-only p,
  .interior-detail-only p,
  .maintenance-detail-section p {
    padding: 0;
  }

}